<body class="hold-transition skin-blue sidebar-mini layout-boxed">
<!-- Site wrapper  -->
<div class="wrapper">

  <!-- ============================================== -->
  {{> bars}}
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        The Dashboard
        <small>it all begins here</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      {{{hackError1}}}
      {{{matchCheck}}}

      <!-- Default box -->
      {{#if packageComplete}}
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">You Just Completed A Package Cycle</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          Congratlations, we are glad that you stick arround to the end of the last package cycle. We trust that you must have enjoyed the goodies of the package you completed. You might want to start another package cycle if you wish. Kindly pick any of the packages below as it suits your choice.
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <strong>We are glad to have you back.</strong>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {{/if}}

      {{#unless packageComplete}}
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">You Found Yourself Here Too?</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          Welcome to the league of elites! We are glad to have you around. Thank you for entrusting us with your information and be rest assured that they are save with us. We understand that you are aware of our packages, if not please click <a href="#">here</a> to intimate yourself with them. <b>NEXT</b> is that you pick up one of those packages so you can proceed in your journey to Earn and Travel...
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <strong>Enjoy Your Stay!</strong>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {{/unless}}

      <!-- =========================================================== -->

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-play"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Startup</span>
              <span class="info-box-number">{{startup}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    No startup yet.
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-hashtag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">total Earned</span>
              <span class="info-box-number">{{totalAmount}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    Zero naira made!
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-plane"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Travel Bank</span>
              <span class="info-box-number">{{tBank}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    Bank is empty!!!
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Withdrawable</span>
              <span class="info-box-number">{{Withdrawable}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    Yet to sow...
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- =========================================================== -->

     <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Who Refered You?</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Referrer Name</label>
                <input class="form-control select2" disabled="disabled" style="width: 100%;" value="{{refName}}" />
              </div>
              <!-- /.form-group -->
            </div>

            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Referrer ID</label>
                <input class="form-control select2" disabled="disabled" style="width: 100%;" value="{{refId}}">
              </div>
              <!-- /.form-group -->
              
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->

      <!-- =========================================================== -->

      <!-- Direct Chat -->
      <div class="row">
        <div class="col-md-3">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Bronze Package</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="More"data-widget="chat-pane-toggle">
                  <i class="fa fa-book"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <!-- /.box-body -->
            <form action="/package/bronze" method="post" class="box-footer" onsubmit="bronzeButton.disabled = true; return true;">
              <button type="submit" class="btn btn-primary btn-flat btn-group-justified" name="bronzeButton" autofocus>Go for Bronze!</button>
            </form>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->

        <div class="col-md-3">
          <!-- DIRECT CHAT SUCCESS -->
          <div class="box box-success direct-chat direct-chat-success">
            <div class="box-header with-border">
              <h3 class="box-title">Silver Package</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="More"data-widget="chat-pane-toggle">
                  <i class="fa fa-book"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <!-- /.box-body -->
            <form action="/package/silver" method="post" class="box-footer" onsubmit="silverButton.disabled = true; return true;">
              <button type="submit" class="btn btn-success btn-flat btn-group-justified" name="silverButton">Go for Silver!</button>
            </form>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->

        <div class="col-md-3">
          <!-- DIRECT CHAT WARNING -->
          <div class="box box-warning direct-chat direct-chat-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Gold Package</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="More"data-widget="chat-pane-toggle">
                  <i class="fa fa-book"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <!-- /.box-body -->
            <form action="/package/gold" method="post" class="box-footer" onsubmit="goldButton.disabled = true; return true;">
              <button type="submit" class="btn btn-warning btn-flat btn-group-justified" name="goldButton">Go for Gold!</button>
            </form>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->

        <div class="col-md-3">
          <!-- DIRECT CHAT DANGER -->
          <div class="box box-danger direct-chat direct-chat-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Platnum Package</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="More"data-widget="chat-pane-toggle">
                  <i class="fa fa-book"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <!-- /.box-body -->
            <form action="/package/platinum" method="post" class="box-footer" onsubmit="platinumButton.disabled = true; return true;">
              <button type="submit" class="btn btn-danger btn-flat btn-group-justified" name="platinumButton">Go for Platinum!</button>
            </div>
            <!-- /.box-footer-->
          </div>
          <!--/.direct-chat -->
        </div>
        <!-- /.col -->

        
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Developed by<b> Tobi Okedeji</b>
    </div>
    <strong>Copyright &copy; 2017 <a href="https://adminlte.io">Travcut MLM</a>.</strong> All rights
    reserved.
  </footer>
  
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
</body>