<body class="hold-transition skin-blue sidebar-mini layout-boxed">
<!-- Site wrapper -->
<div class="wrapper">

  <!-- =============================================== -->
  {{> bars}}
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{packageType}} Direct Referral
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Quick Tips!!!</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
            Congratulations!!! You have made your startup payment for the {{packageType}} Package. Now go get referrals (direct and passive), sitback and watch your withdrawables grow rapidly. Once your referrals are Completed, you will automatically be moved to the  level 2 of the {{packageType}} Package.
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <strong>Your board will be updated in respect to how your referrals troop in</strong>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

      <!-- =========================================================== -->

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-play"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Startup</span>
              <span class="info-box-number">{{startup}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 1
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-hashtag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">total Earned</span>
              <span class="info-box-number">{{totalAmount}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 1
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-plane"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Travel Bank</span>
              <span class="info-box-number">{{tBank}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 1
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Withdrawable</span>
              <span class="info-box-number">{{Withdrawable1}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 1
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- =========================================================== -->

    {{#if refId}}
     <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Who Refered You?</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Referrer Name</label>
                <input class="form-control select2" disabled="disabled" style="width: 100%;" value="{{refName}}" />
              </div>
              <!-- /.form-group -->
            </div>

            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Referrer ID</label>
                <input class="form-control select2" disabled="disabled" style="width: 100%;" value="{{refId}}">
              </div>
              <!-- /.form-group -->
              
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->
      {{/if }}

      <!-- =========================================================== -->

      <div class="row">

        <div class="col-md-3">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Startup Payment</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              Payment Made! <span class="fa fa-check"></span>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

      {{#if less2}}
        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Direct Referral</h3>
            </div>
            <div class="box-body">
              {{noOfRef}} Referral(s), {{numOfPaidRef}} Paid Referral(s).
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if more2}}
        <div class="col-md-3">
          <div class="box box-success box-solid">
            <div class="box-header">
              <h3 class="box-title">Direct Referral</h3>
            </div>
            <div class="box-body">
              {{noOfRef}} Referral(s), {{numOfPaidRef}} Paid Referral(s).
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if equal4}}
        <div class="col-md-3">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Direct Referral</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              Direct Referrals <span class="fa fa-check"></span>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        {{/if}}

        {{#if passLess8}}
        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Passive Referral</h3>
            </div>
            <div class="box-body">
              {{passRefNum}} Passive Referrals; {{PaidPass}} Paid.
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Request withdrawal</h3>
            </div>
            <div class="box-body">
              Not yet ripe for withdrawal
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if passMore8}}
        <div class="col-md-3">
          <div class="box box-success box-solid">
            <div class="box-header">
              <h3 class="box-title">Passive Referral</h3>
            </div>
            <div class="box-body">
              {{passRefNum}} Passive Referrals; {{PaidPass}} Paid.
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-3">
          <div class="box box-success box-solid">
            <div class="box-header">
              <h3 class="box-title">Request withdrawal</h3>
            </div>
            <div class="box-body">
              Almost There...
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if passEqual16}}
        <div class="col-md-3">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Passive Referral</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              Passive Referrals <span class="fa fa-check"></span>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3">
          <div class="box box-primary box-solid" style="margin-top: 15px;">
            <!-- /.box-header -->
            <div class="box-body">              
              <button type="button" class="btn btn-group-justified btn-info">Get Your Pay!</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

      </div>
      <!-- /.row -->

    <!-- =========================================================== -->
    <h4 class="page-header" style="border-color: #C7C7CF; text-align: center;">Direct Referrals ({{Name}})</h4>
    <div class="row">
        {{#each downlineArray}}
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{img}}" alt="User profile picture">

              <h3 class="profile-username text-center">{{firstname}} {{lastname}}</h3>

              <p class="text-muted text-center">Ref/trav/{{RefNum}}</p>

              <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                  <b>Paid Startup?</b> <a class="pull-right">{{startupPaid}}</a>
                </li>
                <li class="list-group-item">
                  <b>Level 1?</b> <a class="pull-right">{{level1}}</a>
                </li>
              </ul>

              <a href="/passive-referral/{{RefNum}}" class="btn btn-primary btn-block"><b>Check Passive Referrals</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/each}}
        <!-- /.col -->

      </div>
    <!-- =========================================================== -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Developed by<b> Tobi Okedeji</b>
    </div>
    <strong>Copyright &copy; 2017 <a href="https://adminlte.io">Travcut MLM</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
</body>