<body class="hold-transition skin-blue sidebar-mini layout-boxed">
<!-- Site wrapper -->
<div class="wrapper">

  <!-- =============================================== -->
  {{> bars}}
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{packageType}} Passive Referral (Level 2)
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      {{#if packageComplete}}
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">You Just Completed A Package Cycle</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          Congratlations, we are glad that you stick arround to the end of the This package cycle. Please click the "Get Your Pay" button to proceed on getting your withdrawable, after that you will have to print out the travel cash document to proceed with your traveling processes.
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <strong>We are glad to have you back.</strong>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {{/if}}

      {{#unless packageComplete}}
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">You Found Yourself Here Too?</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          Congratulations!!! You passed the level one (1) of the {{packageType}} Package. You might wish to click the "Get Your Pay!" button (if you have not) to Request for your level 1 withdrawables. Please wait for your referrals to complete their level 1 respectively so you can move to level 3 of {{packageType}} Package.
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <strong>Enjoy Your Stay!</strong>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      {{/unless}}

      <!-- =========================================================== -->

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-play"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Startup</span>
              <span class="info-box-number">{{startup}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 2
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-hashtag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">total Earned</span>
              <span class="info-box-number">{{totalAmount}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 2
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-plane"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Travel Bank</span>
              <span class="info-box-number">{{tBank}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 2
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Withdrawable</span>
              <span class="info-box-number">{{Withdrawable2}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
                  <span class="progress-description">
                    {{packageType}} Level 2
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- =========================================================== -->

    {{#if refId}}
     <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Who Refered You?</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Referrer Name</label>
                <input class="form-control select2" disabled="disabled" style="width: 100%;" value="{{refName}}" />
              </div>
              <!-- /.form-group -->
            </div>

            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Referrer ID</label>
                <input class="form-control select2" disabled="disabled" style="width: 100%;" value="{{refId}}">
              </div>
              <!-- /.form-group -->
              
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.box -->
      {{/if }}

      <!-- =========================================================== -->

      <div class="row">

        <div class="col-md-3">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Startup Payment</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              Payment Made! <span class="fa fa-check"></span>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

      {{#if less2}}
        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Direct Referral</h3>
            </div>
            <div class="box-body">
              {{NumOfDRefPassL1}} Person(s) Passed Level 1
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if more2}}
        <div class="col-md-3">
          <div class="box box-success box-solid">
            <div class="box-header">
              <h3 class="box-title">Direct Referral</h3>
            </div>
            <div class="box-body">
              {{NumOfDRefPassL1}} Person(s) Passed Level 1
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if equal4}}
        <div class="col-md-3">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Direct Referral</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              All Passsed Level 1  <span class="fa fa-check"></span>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        {{/if}}

        {{#if passLess8}}
        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Passive Referral</h3>
            </div>
            <div class="box-body">
              {{NumOfPRefPassL1}} Person(s) Passed Level 1.
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>

        {{#if getPayTrue}}
        <div class="col-md-3">
          <div class="box box-primary box-solid" style="margin-top: 15px;">
            <!-- /.box-header -->
            <div class="box-body">
              <button type="button" class="btn btn-group-justified btn-info" data-toggle="modal" data-target="#finCodeModal">Get Your Pay!</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#unless getPayFalse}}
        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Request withdrawal</h3>
            </div>
            <div class="box-body">
              Not yet ripe for withdrawal
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/unless}}
        
        {{/if}}

        {{#if passMore8}}
        <div class="col-md-3">
          <div class="box box-success box-solid">
            <div class="box-header">
              <h3 class="box-title">Passive Referral</h3>
            </div>
            <div class="box-body">
              {{NumOfPRefPassL1}} Person(s) Passed Level 1.
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>

        {{#if getPayTrue}}
        <div class="col-md-3">
          <div class="box box-primary box-solid" style="margin-top: 15px;">
            <!-- /.box-header -->
            <div class="box-body">
              <button type="button" class="btn btn-group-justified btn-info" data-toggle="modal" data-target="#finCodeModal">Get Your Pay!</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

        {{#if getPayFalse}}
        <div class="col-md-3">
          <div class="box box-warning box-solid">
            <div class="box-header">
              <h3 class="box-title">Request withdrawal</h3>
            </div>
            <div class="box-body">
              Almost There...
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}
        {{/if}}

        {{#if passEqual16}}
        <div class="col-md-3">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Passive Referral</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              All Passed Level 1.<span class="fa fa-check"></span>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-3">
          <div class="box box-primary box-solid" style="margin-top: 15px;">
            <!-- /.box-header -->
            <div class="box-body">
              <button type="button" class="btn btn-group-justified btn-info" data-toggle="modal" data-target="#finCodeModal">Get Your Pay!</button>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/if}}

      </div>
      <!-- /.row -->

    <!-- =========================================================== -->
    <h4 class="page-header" style="border-color: #C7C7CF; text-align: center;">Direct Referrals ({{Name}})</h4>
    <div class="row">
        {{#each downlineArray}}
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{Image}}" alt="User profile picture">

              <h3 class="profile-username text-center">{{firstname}} {{lastname}}</h3>

              <p class="text-muted text-center">Ref/trav/{{RefNum}}</p>

              <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                  <b>Paid Startup?</b> <a class="pull-right">{{startupPaid}}</a>
                </li>
                <li class="list-group-item">
                  <b>Level 1?</b> <a class="pull-right">{{level1}}</a>
                </li>
              </ul>

              <a href="/passive-referral-L2/{{RefNum}}" class="btn btn-primary btn-block"><b>Check Passive Referrals</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/each}}
        <!-- /.col -->

      </div>
    <!-- =========================================================== -->

    <h4 class="page-header" style="border-color: #C7C7CF; text-align: center;">Passive Referrals ({{Name}} <span class="fa fa-arrow-right"></span> {{MyrefName}}) </h4>
    <div class="row">
        {{#each pRefArray}}
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{{Image}}" alt="User profile picture">

              <h3 class="profile-username text-center">{{firstname}} {{lastname}}</h3>

              <p class="text-muted text-center">Ref/trav/{{RefNum}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Paid Startup?</b> <a class="pull-right">{{startupPaid}}</a>
                </li>
                <li class="list-group-item">
                  <b>Level 1?</b> <a class="pull-right">{{level1}}</a>
                </li>
              </ul>

              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        {{/each}}
        <!-- /.col -->

      </div>
    <!-- =========================================================== -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Developed by<b> Tobi Okedeji</b>
    </div>
    <strong>Copyright &copy; 2017 <a href="https://adminlte.io">Travcut MLM</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!--Fincode Modal -->
<div class="modal fade in" id="finCodeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/travel-bank-get-pay" method="Post" onsubmit="getPayBtnPassv.disabled = true; return true;">
      <div class="modal-header">
        <h4 class="modal-title">Select The Payment Level</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control" name="finCode" placeholder="Travel Bank Code" required autofocus>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" name="level1" value="{{Withdrawable1}}">
                  </span>
              <input type="text" class="form-control" value="Level 1 || {{Withdrawable1}}" disabled>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" name="level2" value="{{finishedWithdrawable}}">
                  </span>
              <input type="text" class="form-control" value="Level 2 || {{finishedWithdrawable}}" disabled>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="getPayBtnPassv">Get Payment</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /Fincode Modal -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
</body>